{% load humanize %}
{% load i18n %}

{% for comment in allComments %}
  <li feed-id="{{ comment.primaryKey }}">
    {% if comment.userId == user %}
      <span class="glyphicon glyphicon-remove remove-comment" title="{% trans 'Click to remove this comment' %}"></span>
    {% endif %}
    <a href="{{ comment.userName }}">
      <img src="{{ comment.userDp }}" class="user-comment">
    </a>
  <h3>&nbsp;&nbsp;&nbsp;<b>{{ comment.userName }}</b> <small>{{ comment.date|naturaltime }}</small>
    <p>&nbsp;&nbsp;&nbsp;{{ comment.text }}</p>
  </h3>
  </li>
{% empty %}
  <li class="empty">{% trans 'Be the first one to comment' %}</li>
{% endfor %}
